{
  "report-dir": "./playwright-report/coverage",
  "reporter": [
    "html",
    "text",
    "text-summary",
    "lcov",
    "json-summary"
  ],
  "include": [
    "src/**/*"
  ],
  "exclude": [
    "src/**/*.stories.tsx",
    "src/**/*.test.tsx",
    "tests/**/*",
    "node_modules",
    "**/*.d.ts"
  ],
  "all": true,
  "check-coverage": false,
  "lines": 80,
  "functions": 80,
  "branches": 80,
  "statements": 80
}
