# Database
DATABASE_URL=postgresql+asyncpg://postgres:secret@db/kufar_monitor
TEST_DATABASE_URL=postgresql+asyncpg://postgres:secret@db_test/kufar_monitor_test

# Scraper settings
KUFAR_CITY=mogilev

# API settings
API_PREFIX=/api/v1

# Logging
LOG_LEVEL=INFO
